*{
  margin: 0;
}

.app{
  background-color: #fafafa;
  height: 100%;
}

.app_post{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_post_rigt{
  margin-left: 20px;
}

.app_headerImage{
  width: 250px;
  object-fit: contain;
}

.app_header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  object-fit: contain;
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app_signup{
  display: flex;
  flex-direction: column;
}


.app_loginContainer{
  /* margin: right; */
padding: 10px 20px;
display: flex;
}

.btn:hover{
  color: lightseagreen;
}

.need{
  align-items: center;
  margin: auto;
}